<div class="container pt-3">

    <div class="row p-2" style="background-color: #27293d">
        <div class="col p-2">
            <button (click)="toggleFilterCollapsed()" type="button" class="btn btn-primary">Filter</button>
        </div>
    </div>
    <div class="row" *ngIf="!filterCollapsed" style="background-color: #27293d">

        <div class="col">

            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle w-100"
                            style="text-align: right !important;cursor: pointer" type="button"
                            id="dropdownMenuOperation"
                            (click)="toggleOperationDropDownOpen()">
                        <strong>{{selectedOperation}}</strong>
                    </button>
                    <ul *ngIf="operationDropDownOpen" class="dropdown-menu w-100" style="display: block !important;"
                        aria-labelledby="dropdownMenuOperation">
                        <li *ngFor="let op of availableOperations$ | async">
                            <a style="color: black" class="dropdown-item"
                               (click)="setSelectedOperation(op)"><strong>{{op}}</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle w-100"
                            style="text-align: right !important;cursor: pointer" type="button"
                            id="dropdownMenuAsset"
                            (click)="toggleAssetDropDownOpen()">
                        <strong>{{selectedAsset}}</strong>
                    </button>
                    <ul *ngIf="assetDropDownOpen" class="dropdown-menu w-100" style="display: block !important;"
                        aria-labelledby="dropdownMenuAsset">
                        <li *ngFor="let a of availableAssets$ | async">
                            <a style="color: black" class="dropdown-item"
                               (click)="setSelectedAsset(a)"><strong>{{a}}</strong></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <button type="button" (click)="setFilter()" class="btn btn-info pull-right"><strong>Go!</strong>
                </button>
                <button type="button" (click)="resetFilter()" class="btn btn-outline-info pull-right ml-2"><strong>Reset
                    all filters</strong>
                </button>
            </div>

        </div>

    </div>
</div>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination
            [collectionSize]="(total$ | async)!" [(page)]="txService.page" [pageSize]="txService.pageSize">
    </ngb-pagination>

    <!--    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">-->
    <!--        <option [ngValue]="2">2 items per page</option>-->
    <!--        <option [ngValue]="4">4 items per page</option>-->
    <!--        <option [ngValue]="6">6 items per page</option>-->
    <!--    </select>-->
</div>

<div class="row mb-2 pb-3">
    <div class="col">
        <div class="card">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Operation</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Coin / Asset</th>
                        <th scope="col">Fiat value</th>
                        <th scope="col">Fiat currency</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let t of tx$ | async">
                        <th scope="row">{{t.date | date:'shortDate'}}</th>
                        <td><strong>{{t.operation}}</strong></td>
                        <td><strong>{{t.amount}}</strong></td>
                        <td><strong>{{t.coinAsset}}</strong></td>
                        <td><strong>{{t.fiatValue}}</strong></td>
                        <td><strong>{{t.fiatCurrency}}</strong></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
