<div class="container">

    <div class="row bg-dark">
        <div class="col p-2">
            <button (click)="toggleFilterCollapsed()" type="button" class="btn btn-light">Filter</button>
        </div>
    </div>
    <div class="row bg-dark" *ngIf="!filterCollapsed">

        <div class="col-sm-6">

            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle w-100"
                            style="text-align: left !important;cursor: pointer" type="button" id="dropdownMenuButton1"
                            (click)="toggleOperationDropDownOpen()">
                        {{selectedOperation}}
                    </button>
                    <ul *ngIf="operationDropDownOpen" class="dropdown-menu w-100" style="display: block !important;"
                        aria-labelledby="dropdownMenuButton1">
                        <li *ngFor="let op of availableOperations$ | async"><a class="dropdown-item"
                                                                               (click)="setSelectedOperation(op)">{{op}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" name="lname" id="lname"
                       placeholder="Enter Last Name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="Enter Email" required>
            </div>
            <div class="form-group">
                <label for="contactno">Contact No.</label>
                <input type="contactno" class="form-control" id="contactno" name="contactno"
                       placeholder="Enter Contact No." required>
            </div>

            <div class="form-group">
                <button type="button" (click)="setFilter()" class="btn btn-info pull-right">Set filter</button>
            </div>

        </div>

        <div class="col-sm-6">


        </div>

    </div>
</div>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination
            [collectionSize]="(total$ | async)!" [(page)]="txService.page" [pageSize]="txService.pageSize">
    </ngb-pagination>

    <!--    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">-->
    <!--        <option [ngValue]="2">2 items per page</option>-->
    <!--        <option [ngValue]="4">4 items per page</option>-->
    <!--        <option [ngValue]="6">6 items per page</option>-->
    <!--    </select>-->
</div>

<div class="row mb-2">
    <div class="col">
        <div class="card">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Operation</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Coin / Asset</th>
                        <th scope="col">Fiat value</th>
                        <th scope="col">Fiat currency</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let t of tx$ | async">
                        <th scope="row">{{t.date | date:'shortDate'}}</th>
                        <td>{{t.operation}}</td>
                        <td>{{t.amount}}</td>
                        <td>{{t.coinAsset}}</td>
                        <td>{{t.fiatValue}}</td>
                        <td>{{t.fiatCurrency}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!--amount: 0-->
<!--coinAsset: "DFI"-->
<!--date: "2021-10-05T15:15:17"-->
<!--fiatCurrency: "EUR"-->
<!--fiatValue: 0-->
<!--idRelatedReference: ""-->
<!--idTransaction: ""-->
<!--operation: "Freezer staking bonus"-->
<!--reference: "6c71306b-310b-434d-bf8d-20132bff3a4c"-->
<!--withdrawalAddress: ""-->
