<div class="container">

    <div class="row mb-2">
        <div class="col">
            <highcharts-chart [oneToOne]="true" [constructorType]="chartConstructor"
                              [callbackFunction]="chartCallback"
                              [Highcharts]="Highcharts" [(update)]="updateFlag" [options]="chartOptions"
                              class="card"></highcharts-chart>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Summary Liquidity Mining rewards
                </div>
                <div class="card-body">
                    <div class="lm-row">
                        <p style="display: inline" class="font-weight-bolder"><strong>Sum earnings until now (DFI in
                            Fiat): </strong></p>
                        <p style="display: inline" class="font-weight-bolder text-primary"><b>{{sumFiat}} €</b></p>
                    </div>

                    <div class="lm-row">
                        <p style="display: inline" class="font-weight-bolder"><strong>Sum earnings until now
                            (DFI): </strong></p>
                        <p style="display: inline" class="font-weight-bolder text-primary"><b>{{sumAmount}} </b></p>
                    </div>

                    <div class="lm-row">
                        <p style="display: inline" class="font-weight-bolder"><strong>Average liquidity mining rewards
                            per day: </strong></p>
                        <p style="display: inline" class="font-weight-bolder text-primary"><b>{{avgReward}} €
                            (during {{days}} days)</b></p>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <app-db-tx-table></app-db-tx-table>

    <div class="row mb-2">
        <div class="col">
            <div class="card">
                <app-filedropper (fileUploaded$)="onFileUploaded()"></app-filedropper>
            </div>
        </div>
    </div>
</div>
